# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.zip
*.exe
.idea

# gradle
build
.gradle

# other
eclipse
run
node_modules

# Files from Forge MDK
forge_README.txt
forge*changelog.txt
